<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Inconsolata:wght@200..900&display=swap" rel="stylesheet">
    <title>Capstone blog</title>
</head>
<body>
    <div>
        <button id="edit" >Edit</button>
        <a href="http://localhost:3000/"><button id="delete" data-index=<%= data[0] %>>Delete</button></a>
        <h1 class="heading">Capstone Project <br>Blog</h1>
    </div>
    
    <h2 id="title"><%= data[0] %></h2>
    <div id="blog-article">         
        <p><%= data[1] %></p>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" charset="utf-8"></script>   
    <script src="js/index1.js" charset="utf-8"></script> 
</body>
</html>